Flask
flask-cors
requests
python-dotenv
fpdf
pymongo
PyGithub
llama-index==0.12.42
chromadb
google-generativeai
huggingface-hub
llama_index.readers.github
gunicorn
llama_index.core 
llama_index.vector_stores.chroma
llama_index.llms.ollama
llama_index.llms.openai